/* font  */
body {
    font-family: 'Merriweather', serif;
}

.main-div {
    margin: 50px 140px 0px 140px;
}

/* section 1 style */
.sec1-div1 {
    background-image: url('resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;

}

.sec1-sub-div1 {
    color: papayawhip;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    padding-top: 185px;
}

.sec1-sub-div2 {
    color: pink;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    word-spacing: 8px;
}

/* section 2 styles */
.sec2-div {
    display: block;
    margin-bottom: 120px;
}

.sec2-div1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;

}

.sec2-div2 {
    text-align: center;
    margin-bottom: 48px;
}

.sec2-div2>h5 {
    color: #F00;
}

.sec2-div3 {
    width: 802px;
    height: 500px;
    margin: auto;
}

/* section 3 styles */
.sec3-div1 {
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 68px 138px;
}

.column-div1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 7.04px;
}

.sec3-desc {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.sec3-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
}

.sec3-column2 {
    width: 560px;
    height: 464px;
    align-items: center;
    flex-shrink: 0;
}

/* section 4 styles */

.sec4-div1 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
    width: 1320px;
    height: 482px;
    background-color: rgb(247, 236, 223);
    text-align: center;
    padding-top: 100px;
}

.sec4-desc {
    color: #F00;

}

.sec4-btn {
    color: #f7f0f0;
    font-size: 20px;
    font-weight: 700;
    background: red;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 40px;
}

/* section 5 styles */
.sec5-div1 {
    display: flex;
    gap: 100px;
    justify-items: auto;
    margin: 120px 0px;
    align-items: center;
    height: 463px;
}

.sec5-clm1-h4 {
    color: #F00;
    font-weight: 500;
    line-height: normal;
}

.sec5-div1-p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.sec5-column1 {
    max-width: 393px;
}

.sec5-column2 {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;

}

.sec5-pic {
    width: 364px;
    height: 364px;
    border-radius: 364px;
    margin: auto;
    padding: 49px;
}

.sec5-h1 {
    color: #F00;
    font-weight: 700;
    font-size: 48px;
}

.sec5-column3 {
    width: 320px;
    height: 300px;
    line-height: 5px;
}

/* section6 styles */
/* .sec6-maindiv{
    width: 1600px;
    height: 7335px;
    background-color: #f7f0f0;
} */
.sec6-maindiv {
    margin-top: 70px;
}

.sec6-sub1 {

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.sec6-div1-p1 {
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sec6-div2 {
    height: 662px;
    background-image: url('resources/Rectangle\ 2.png'), url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom, top right;
    border-radius: 16px;
    margin-top: 50px;
    background-color: beige;
    padding: 0 200px 0px 30px;
}

/* .sec6-pic1{
    height: 360px;
    width: 540px;
    position: ; */
/* padding: 0px 645px 89px 198px; */
/* margin-left: 198px;
    margin-bottom: 89px; */
/* } */
/* .sec6-subdiv{
    display: flex;
    gap: 200pxpx;
    align-items: center;
    width: 1020px;
    justify-content: space-between;
   
} */
.sec6-pic11 {
    float: left;
    width: 540px;
    height: 550px;
    float: inline-start;
    margin-top: 100px;
    margin-bottom: 89px;
    opacity: 0.9;


}

.sec6-pic2 {
    float: right;
    width: 250px;
    height: 250px;
    margin-right: 130px;
    margin-top: 120px;
}

/* section 7 styles */
.sec7-maindiv {
    margin-top: 70px;
    background-color: rgb(233, 229, 224);
}

.sec7-p1 {
    text-align: left;
    color: #F00;
    margin-top: 40px;
    margin-bottom: 10px;
}

.sec7-p2 {
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
}

.sec7-p3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
}