/* font  */
body {
    font-family: 'Merriweather', serif;
}

.main-div {
    margin: 50px 140px 0px 140px;
}

/* section 1 style */
.sec1-div1 {
    background-image: url('resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;

}

.sec1-sub-div1 {
    color: papayawhip;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    padding-top: 185px;
}

.sec1-sub-div2 {
    color: pink;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    word-spacing: 8px;
}

/* section 2 styles */
.sec2-div {
    display: block;
    margin-bottom: 120px;
}

.sec2-div1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;

}

.sec2-div2 {
    text-align: center;
    margin-bottom: 48px;
}

.sec2-div2>h5 {
    color: #F00;
}

.sec2-div3 {
    width: 802px;
    height: 500px;
    margin: auto;
}

/* section 3 styles */
.sec3-div1 {
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 68px 138px;
}

.column-div1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 7.04px;
}

.sec3-desc {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

.sec3-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
}

.sec3-column2 {
    width: 560px;
    height: 464px;
    align-items: center;
    flex-shrink: 0;
}